[Desktop Entry]
Version=1.0
Name=GMail
Comment=Gmail
GenericName=shivagajavelli21@gmail.com
Keywords=shivagajavelli21;gajavelli;gajavelli21;
Exec=firefox -new-window https://mail.google.com/mail/u/2/#inbox
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/henry/icons/gmail.png
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true
